
<%- include ('partials/header.ejs') %>
<html>
<body>

    <h1>Budget Monitor</h1>
    <% if(typeof msg !== 'undefined') {%>
        <h2 style="color: red; text-align: center;"><%= msg %></h2>
    <% } %>
    <div class="center">
        <form class="login-register" action="/register" method="post">
            <div><input type="text" placeholder="username" name="username"></div>
            <div><input type="password" placeholder="password" name="password"></div>
            <div><input type="password" placeholder="password" name="password_check"></div>
            <div class="center"><input type="submit" value="Register"></div>
        </form>
    </div>
    
</body>
</html>