<nav>
    <ul>
    <li><h1><a href="/"> Dashboard </a></h1></li>
    <li>
        <li><h2><a href="/plan"> Create a plan </a></h2></li>
        <li><h2><a href="/history">View expense history</a></h2></li>
    </li>
    </ul>
</nav>